header, footer{
	color: Chartreuse; /*teksti värv*/
	background-color: CadetBlue; /*tausta värv*/
	width: 100%; /*laius */
	text-align: center;
	border: solid 4pt Aqua; /*piir - solid, dashed, dotted, double*/
	border-radius: 60px 120px 60px 120px;
	padding: 8px;
}

main section{
	background-color: PaleTurquoise;
	border: double 4pt DarkMagenta;
	margin: 10px;
	width: 100%;
	padding: 15px;
}


main section h2{
	color: black;
	font-variant: small-caps;
}

nav ul {
  list-style-type: none; /*Loetelu markerid*/
  margin: 0;
  padding: 0;
  overflow: hidden; /*Kuidas näidata nav elementid*/
  background-color: #848884;
  border-radius: 45px 20px 45px 20px;
}

nav li {
  float: left;
}

nav li a {
  display: block; /*Ühe realine navbar*/
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none; /*underline*/
}

nav li a:hover { /*link fookuses*/
  background-color: #33ffbd;
}